In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

import warnings
warnings.filterwarnings('ignore')

In [88]:
file1 = open("../../data/features/2019_04_21_TSLA_y_02_yishuang.pickle",'rb')
tsla = pickle.load(file1, encoding='utf-8')

file2 = open("../../data/features/2019_04_23_nlp_jing_datetime_jeff.pickle",'rb')
elon = pickle.load(file2, encoding='utf-8')

tsla["Start_Datetime"] = pd.to_datetime(tsla["Start_Datetime"])
tsla["End_Datetime"] = pd.to_datetime(tsla["End_Datetime"])
elon["Datetime"] = pd.to_datetime(elon["Datetime"])

In [89]:
tsla.head()

,Start_Datetime,End_Datetime,Trading_Hour,Open,High,Low,Close,Volume,Total_Daily_Volume,Percentage_Volume,Rolling_perc_volumn,Residual
0,2016-05-23 13:30:00+00:00,2016-05-23 14:30:00+00:00,1,220.06,222.30,217.16,222.14,1770979,4837998,0.366056,NaN,NaN
1,2016-05-23 14:30:00+00:00,2016-05-23 15:30:00+00:00,2,221.92,222.60,219.26,219.49,678668,4837998,0.140279,NaN,NaN
2,2016-05-23 15:30:00+00:00,2016-05-23 16:30:00+00:00,3,219.51,219.53,217.66,218.47,601477,4837998,0.124324,NaN,NaN
3,2016-05-23 16:30:00+00:00,2016-05-23 17:30:00+00:00,4,218.57,219.04,217.41,217.49,439506,4837998,0.090845,NaN,NaN
4,2016-05-23 17:30:00+00:00,2016-05-23 18:30:00+00:00,5,217.44,217.60,216.19,217.49,514489,4837998,0.106343,NaN,NaN

In [90]:
elon[elon['TradingHour']==1].head()

,Datetime,text,sentiment,subjectivity,retweets,favorites,id,emoji,isreply,year,month,day,date,DayofWeek,Weekend,Time,TradingHour,DayDistance
0,2019-04-08 19:45:00+00:00,doesnâ€™t matter yet whether you have tesla fsd ...,0.000000,0.000000,88,1830,1115340011497447424,NaN,True,2019,4,8,2019-04-08,0,False,19:45:00,1,0
1,2019-04-08 19:35:00+00:00,the tesla full self-driving computer now in pr...,0.350000,0.550000,5713,47341,1115337505824432128,NaN,False,2019,4,8,2019-04-08,0,False,19:35:00,1,0
13,2019-03-26 16:18:00+00:00,hard to appreciate how much tesla autopilot im...,-0.045833,0.370833,766,13889,1110576683411628032,NaN,True,2019,3,26,2019-03-26,1,False,16:18:00,1,0
14,2019-03-26 16:00:00+00:00,thank you!https://twitter.com/tesla/status/110...,0.000000,0.000000,1730,42782,1110572160899149825,NaN,False,2019,3,26,2019-03-26,1,False,16:00:00,1,0
30,2019-03-05 19:40:00+00:00,tesla comms is fixing. that was a mistake.,0.000000,0.000000,180,9345,1103017584188780544,NaN,True,2019,3,5,2019-03-05,1,False,19:40:00,1,0

In [91]:
volumes = []

for i, row in elon.iterrows():

    tweet_datetime = row['Datetime']

    # get subset of tsla using tweet datetime
    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]

    # get Total_Daily_Volume of first row of subset df
    volume = subset_df.iloc[0,:]['Volume']

    # append to list
    volumes.append(volume)

elon['that_hour_volume'] = pd.Series(volumes)

In [93]:
elon.head()

,Datetime,text,sentiment,subjectivity,retweets,favorites,id,emoji,isreply,year,month,day,date,DayofWeek,Weekend,Time,TradingHour,DayDistance,that_hour_volume
0,2019-04-08 19:45:00+00:00,doesnâ€™t matter yet whether you have tesla fsd ...,0.000000,0.00000,88,1830,1115340011497447424,NaN,True,2019,4,8,2019-04-08,0,False,19:45:00,1,0,986074
1,2019-04-08 19:35:00+00:00,the tesla full self-driving computer now in pr...,0.350000,0.55000,5713,47341,1115337505824432128,NaN,False,2019,4,8,2019-04-08,0,False,19:35:00,1,0,986074
2,2019-04-07 21:18:00+00:00,it will enable video when parked & connected t...,0.200000,0.40000,75,1201,1115001019652378624,NaN,True,2019,4,7,2019-04-07,6,True,21:18:00,0,1,3057022
3,2019-04-06 18:33:00+00:00,tesla enhanced summon coming out in us next we...,0.175000,0.27500,1432,25201,1114597013176246273,NaN,False,2019,4,6,2019-04-06,5,True,18:33:00,0,2,3057022
4,2019-04-05 02:23:00+00:00,thatâ€™s exactly the idea. whatâ€™s not well under...,0.221591,0.34375,543,6092,1113990464984813568,NaN,True,2019,4,5,2019-04-05,4,False,02:23:00,0,0,1567418

In [95]:
with open('../../data/features/2019_04_23_features_with_simple_y.pickle', 'wb') as handle:
        pickle.dump(elon, handle, protocol=pickle.HIGHEST_PROTOCOL)