In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [90]:
file = '../../data/features/2019_04_30_TSLA_y_02_yishuang.pickle'

tsla = pickle.load(open(file, "rb"))

In [91]:
tsla.head()

,Start_Datetime,End_Datetime,Trading_Hour,Open,High,Low,Close,Volume,Total_Daily_Volume,Percentage_Volume,Rolling_volume,Rolling_perc_volume,Res_Perc_vol,Res_vol
0,2016-05-23 13:30:00+00:00,2016-05-23 14:30:00+00:00,1,220.06,222.30,217.16,222.14,1770979,4837998,0.366056,NaN,NaN,NaN,NaN
1,2016-05-23 14:30:00+00:00,2016-05-23 15:30:00+00:00,2,221.92,222.60,219.26,219.49,678668,4837998,0.140279,NaN,NaN,NaN,NaN
2,2016-05-23 15:30:00+00:00,2016-05-23 16:30:00+00:00,3,219.51,219.53,217.66,218.47,601477,4837998,0.124324,NaN,NaN,NaN,NaN
3,2016-05-23 16:30:00+00:00,2016-05-23 17:30:00+00:00,4,218.57,219.04,217.41,217.49,439506,4837998,0.090845,NaN,NaN,NaN,NaN
4,2016-05-23 17:30:00+00:00,2016-05-23 18:30:00+00:00,5,217.44,217.60,216.19,217.49,514489,4837998,0.106343,NaN,NaN,NaN,NaN

In [92]:
tsla["Start_Datetime"] = pd.to_datetime(tsla["Start_Datetime"])
tsla["End_Datetime"] = pd.to_datetime(tsla["End_Datetime"])

In [93]:
daylight_dates = tsla[tsla.Trading_Hour==8].Start_Datetime

In [94]:
daylight_dates = list(daylight_dates.dt.date)

In [95]:
daylight_dates

[datetime.date(2016, 11, 7),
 datetime.date(2016, 11, 8),
 datetime.date(2016, 11, 9),
 datetime.date(2016, 11, 10),
 datetime.date(2016, 11, 11),
 datetime.date(2016, 11, 14),
 datetime.date(2016, 11, 15),
 datetime.date(2016, 11, 16),
 datetime.date(2016, 11, 17),
 datetime.date(2016, 11, 18),
 datetime.date(2016, 11, 21),
 datetime.date(2016, 11, 22),
 datetime.date(2016, 11, 23),
 datetime.date(2016, 11, 28),
 datetime.date(2016, 11, 29),
 datetime.date(2016, 11, 30),
 datetime.date(2016, 12, 1),
 datetime.date(2016, 12, 2),
 datetime.date(2016, 12, 5),
 datetime.date(2016, 12, 6),
 datetime.date(2016, 12, 7),
 datetime.date(2016, 12, 8),
 datetime.date(2016, 12, 9),
 datetime.date(2016, 12, 12),
 datetime.date(2016, 12, 13),
 datetime.date(2016, 12, 14),
 datetime.date(2016, 12, 15),
 datetime.date(2016, 12, 16),
 datetime.date(2016, 12, 19),
 datetime.date(2016, 12, 20),
 datetime.date(2016, 12, 21),
 datetime.date(2016, 12, 22),
 datetime.date(2016, 12, 23),
 datetime.date(2016, 12, 27),
 datetime.date(2016, 12, 28),
 datetime.date(2016, 12, 29),
 datetime.date(2016, 12, 30),
 datetime.date(2017, 1, 3),
 datetime.date(2017, 1, 4),
 datetime.date(2017, 1, 5),
 datetime.date(2017, 1, 6),
 datetime.date(2017, 1, 9),
 datetime.date(2017, 1, 10),
 datetime.date(2017, 1, 11),
 datetime.date(2017, 1, 12),
 datetime.date(2017, 1, 13),
 datetime.date(2017, 1, 17),
 datetime.date(2017, 1, 18),
 datetime.date(2017, 1, 19),
 datetime.date(2017, 1, 20),
 datetime.date(2017, 1, 23),
 datetime.date(2017, 1, 24),
 datetime.date(2017, 1, 25),
 datetime.date(2017, 1, 26),
 datetime.date(2017, 1, 27),
 datetime.date(2017, 1, 30),
 datetime.date(2017, 1, 31),
 datetime.date(2017, 2, 1),
 datetime.date(2017, 2, 2),
 datetime.date(2017, 2, 3),
 datetime.date(2017, 2, 6),
 datetime.date(2017, 2, 7),
 datetime.date(2017, 2, 8),
 datetime.date(2017, 2, 9),
 datetime.date(2017, 2, 10),
 datetime.date(2017, 2, 13),
 datetime.date(2017, 2, 14),
 datetime.date(2017, 2, 15),
 datetime.date(2017, 2, 16),
 datetime.date(2017, 2, 17),
 datetime.date(2017, 2, 21),
 datetime.date(2017, 2, 22),
 datetime.date(2017, 2, 23),
 datetime.date(2017, 2, 24),
 datetime.date(2017, 2, 27),
 datetime.date(2017, 2, 28),
 datetime.date(2017, 3, 1),
 datetime.date(2017, 3, 2),
 datetime.date(2017, 3, 3),
 datetime.date(2017, 3, 6),
 datetime.date(2017, 3, 7),
 datetime.date(2017, 3, 8),
 datetime.date(2017, 3, 9),
 datetime.date(2017, 3, 10),
 datetime.date(2017, 11, 6),
 datetime.date(2017, 11, 7),
 datetime.date(2017, 11, 8),
 datetime.date(2017, 11, 9),
 datetime.date(2017, 11, 10),
 datetime.date(2017, 11, 13),
 datetime.date(2017, 11, 14),
 datetime.date(2017, 11, 15),
 datetime.date(2017, 11, 16),
 datetime.date(2017, 11, 17),
 datetime.date(2017, 11, 20),
 datetime.date(2017, 11, 21),
 datetime.date(2017, 11, 22),
 datetime.date(2017, 11, 27),
 datetime.date(2017, 11, 28),
 datetime.date(2017, 11, 29),
 datetime.date(2017, 11, 30),
 datetime.date(2017, 12, 1),
 datetime.date(2017, 12, 4),
 datetime.date(2017, 12, 5),
 datetime.date(2017, 12, 6),
 datetime.date(2017, 12, 7),
 datetime.date(2017, 12, 8),
 datetime.date(2017, 12, 11),
 datetime.date(2017, 12, 12),
 datetime.date(2017, 12, 13),
 datetime.date(2017, 12, 14),
 datetime.date(2017, 12, 15),
 datetime.date(2017, 12, 18),
 datetime.date(2017, 12, 19),
 datetime.date(2017, 12, 20),
 datetime.date(2017, 12, 21),
 datetime.date(2017, 12, 22),
 datetime.date(2017, 12, 26),
 datetime.date(2017, 12, 27),
 datetime.date(2017, 12, 28),
 datetime.date(2017, 12, 29),
 datetime.date(2018, 1, 2),
 datetime.date(2018, 1, 3),
 datetime.date(2018, 1, 4),
 datetime.date(2018, 1, 5),
 datetime.date(2018, 1, 8),
 datetime.date(2018, 1, 9),
 datetime.date(2018, 1, 10),
 datetime.date(2018, 1, 11),
 datetime.date(2018, 1, 12),
 datetime.date(2018, 1, 16),
 datetime.date(2018, 1, 17),
 datetime.date(2018, 1, 18),
 datetime.date(2018, 1, 19),
 datetime.date(2018, 1, 22),
 datetime.date(2018, 1, 23),
 datetime.date(2018, 1, 24),
 datetime.date(2018, 1, 25),
 datetime.date(2018, 1, 26),
 datetime.date(2018, 1, 29),
 datetime.date(2018, 1, 30),
 datetime.date(2018, 1, 31),
 datetime.date(2018, 2, 1),
 datetime.date(2018, 2, 2),
 datetime.date(2018, 2, 5),
 datetime.date(2018, 2, 6),
 datetime.date(2018, 2, 7),
 datetime.date(2018, 2, 8),
 datetime.date(2018, 2, 9),
 datetime.date(2018, 2, 12),
 datetime.date(2018, 2, 13),
 datetime.date(2018, 2, 14),
 datetime.date(2018, 2, 15),
 datetime.date(2018, 2, 16),
 datetime.date(2018, 2, 20),
 datetime.date(2018, 2, 21),
 datetime.date(2018, 2, 22),
 datetime.date(2018, 2, 23),
 datetime.date(2018, 2, 26),
 datetime.date(2018, 2, 27),
 datetime.date(2018, 2, 28),
 datetime.date(2018, 3, 1),
 datetime.date(2018, 3, 2),
 datetime.date(2018, 3, 5),
 datetime.date(2018, 3, 6),
 datetime.date(2018, 3, 7),
 datetime.date(2018, 3, 8),
 datetime.date(2018, 3, 9),
 datetime.date(2018, 11, 5),
 datetime.date(2018, 11, 6),
 datetime.date(2018, 11, 7),
 datetime.date(2018, 11, 8),
 datetime.date(2018, 11, 9),
 datetime.date(2018, 11, 12),
 datetime.date(2018, 11, 13),
 datetime.date(2018, 11, 14),
 datetime.date(2018, 11, 15),
 datetime.date(2018, 11, 16),
 datetime.date(2018, 11, 19),
 datetime.date(2018, 11, 20),
 datetime.date(2018, 11, 21),
 datetime.date(2018, 11, 26),
 datetime.date(2018, 11, 27),
 datetime.date(2018, 11, 28),
 datetime.date(2018, 11, 29),
 datetime.date(2018, 11, 30),
 datetime.date(2018, 12, 3),
 datetime.date(2018, 12, 4),
 datetime.date(2018, 12, 6),
 datetime.date(2018, 12, 7),
 datetime.date(2018, 12, 10),
 datetime.date(2018, 12, 11),
 datetime.date(2018, 12, 12),
 datetime.date(2018, 12, 13),
 datetime.date(2018, 12, 14),
 datetime.date(2018, 12, 17),
 datetime.date(2018, 12, 18),
 datetime.date(2018, 12, 19),
 datetime.date(2018, 12, 20),
 datetime.date(2018, 12, 21),
 datetime.date(2018, 12, 26),
 datetime.date(2018, 12, 27),
 datetime.date(2018, 12, 28),
 datetime.date(2018, 12, 31),
 datetime.date(2019, 1, 2),
 datetime.date(2019, 1, 3),
 datetime.date(2019, 1, 4),
 datetime.date(2019, 1, 7),
 datetime.date(2019, 1, 8),
 datetime.date(2019, 1, 9),
 datetime.date(2019, 1, 10),
 datetime.date(2019, 1, 11),
 datetime.date(2019, 1, 14),
 datetime.date(2019, 1, 15),
 datetime.date(2019, 1, 16),
 datetime.date(2019, 1, 17),
 datetime.date(2019, 1, 18),
 datetime.date(2019, 1, 22),
 datetime.date(2019, 1, 23),
 datetime.date(2019, 1, 24),
 datetime.date(2019, 1, 25),
 datetime.date(2019, 1, 28),
 datetime.date(2019, 1, 29),
 datetime.date(2019, 1, 30),
 datetime.date(2019, 1, 31),
 datetime.date(2019, 2, 1),
 datetime.date(2019, 2, 4),
 datetime.date(2019, 2, 5),
 datetime.date(2019, 2, 6),
 datetime.date(2019, 2, 7),
 datetime.date(2019, 2, 8),
 datetime.date(2019, 2, 11),
 datetime.date(2019, 2, 12),
 datetime.date(2019, 2, 13),
 datetime.date(2019, 2, 14),
 datetime.date(2019, 2, 15),
 datetime.date(2019, 2, 19),
 datetime.date(2019, 2, 20),
 datetime.date(2019, 2, 21),
 datetime.date(2019, 2, 22),
 datetime.date(2019, 2, 25),
 datetime.date(2019, 2, 26),
 datetime.date(2019, 2, 27),
 datetime.date(2019, 2, 28),
 datetime.date(2019, 3, 1),
 datetime.date(2019, 3, 4),
 datetime.date(2019, 3, 5),
 datetime.date(2019, 3, 6),
 datetime.date(2019, 3, 7),
 datetime.date(2019, 3, 8)]

In [97]:
tsla['Date'] = tsla['Start_Datetime'].dt.date
tsla.head()

,Start_Datetime,End_Datetime,Trading_Hour,Open,High,Low,Close,Volume,Total_Daily_Volume,Percentage_Volume,Rolling_volume,Rolling_perc_volume,Res_Perc_vol,Res_vol,Date
0,2016-05-23 13:30:00+00:00,2016-05-23 14:30:00+00:00,1,220.06,222.30,217.16,222.14,1770979,4837998,0.366056,NaN,NaN,NaN,NaN,2016-05-23
1,2016-05-23 14:30:00+00:00,2016-05-23 15:30:00+00:00,2,221.92,222.60,219.26,219.49,678668,4837998,0.140279,NaN,NaN,NaN,NaN,2016-05-23
2,2016-05-23 15:30:00+00:00,2016-05-23 16:30:00+00:00,3,219.51,219.53,217.66,218.47,601477,4837998,0.124324,NaN,NaN,NaN,NaN,2016-05-23
3,2016-05-23 16:30:00+00:00,2016-05-23 17:30:00+00:00,4,218.57,219.04,217.41,217.49,439506,4837998,0.090845,NaN,NaN,NaN,NaN,2016-05-23
4,2016-05-23 17:30:00+00:00,2016-05-23 18:30:00+00:00,5,217.44,217.60,216.19,217.49,514489,4837998,0.106343,NaN,NaN,NaN,NaN,2016-05-23

In [98]:
tsla[['Start_Datetime', 'End_Datetime', 'Trading_Hour']].groupby('Trading_Hour').agg(['count'])

             Start_Datetime End_Datetime
                      count        count
Trading_Hour
1                       476          476
2                       730          730
3                       730          730
4                       727          727
5                       726          726
6                       726          726
7                       724          724
8                       250          250

In [99]:
tsla[tsla['Date'].isin(daylight_dates)]

,Start_Datetime,End_Datetime,Trading_Hour,Open,High,Low,Close,Volume,Total_Daily_Volume,Percentage_Volume,Rolling_volume,Rolling_perc_volume,Res_Perc_vol,Res_vol,Date
819,2016-11-07 14:30:00+00:00,2016-11-07 15:30:00+00:00,2,193.88,193.92,190.15,192.99,1538565,3783641,0.406636,964521.6,0.201402,0.205234,574043.4,2016-11-07
820,2016-11-07 15:30:00+00:00,2016-11-07 16:30:00+00:00,3,192.91,194.18,192.64,192.64,629392,3783641,0.166346,656826.5,0.120163,0.046182,-27434.5,2016-11-07
821,2016-11-07 16:30:00+00:00,2016-11-07 17:30:00+00:00,4,192.63,193.02,192.33,192.78,304304,3783641,0.080426,498506.8,0.098899,-0.018473,-194202.8,2016-11-07
822,2016-11-07 17:30:00+00:00,2016-11-07 18:30:00+00:00,5,192.82,193.45,192.70,193.25,267198,3783641,0.070619,502463.9,0.105531,-0.034912,-235265.9,2016-11-07
823,2016-11-07 18:30:00+00:00,2016-11-07 19:30:00+00:00,6,193.29,193.46,192.85,193.02,266673,3783641,0.070481,482481.4,0.104917,-0.034436,-215808.4,2016-11-07
824,2016-11-07 19:30:00+00:00,2016-11-07 20:00:00+00:00,7,192.93,193.22,192.88,193.07,264488,3783641,0.069903,538567.2,0.120394,-0.050491,-274079.2,2016-11-07
825,2016-11-07 20:30:00+00:00,2016-11-07 21:30:00+00:00,8,193.09,193.63,192.62,193.21,513021,3783641,0.135589,NaN,NaN,NaN,NaN,2016-11-07
826,2016-11-08 14:30:00+00:00,2016-11-08 15:30:00+00:00,2,193.86,194.33,191.33,191.76,0,2521548,0.000000,930855.5,0.187263,-0.187263,-930855.5,2016-11-08
827,2016-11-08 15:30:00+00:00,2016-11-08 16:30:00+00:00,3,191.71,196.45,191.71,195.64,683676,2521548,0.271133,709954.2,0.140876,0.130257,-26278.2,2016-11-08
828,2016-11-08 16:30:00+00:00,2016-11-08 17:30:00+00:00,4,195.50,197.48,195.37,196.68,635845,2521548,0.252165,536623.3,0.113420,0.138745,99221.7,2016-11-08
829,2016-11-08 17:30:00+00:00,2016-11-08 18:30:00+00:00,5,196.60,196.99,195.58,195.91,306880,2521548,0.121703,496237.4,0.102198,0.019505,-189357.4,2016-11-08
830,2016-11-08 18:30:00+00:00,2016-11-08 19:30:00+00:00,6,195.90,196.23,195.01,195.27,223088,2521548,0.088473,457088.4,0.093730,-0.005258,-234000.4,2016-11-08
831,2016-11-08 19:30:00+00:00,2016-11-08 20:00:00+00:00,7,195.22,195.25,194.14,195.00,327493,2521548,0.129878,544006.5,0.121912,0.007966,-216513.5,2016-11-08
832,2016-11-08 20:30:00+00:00,2016-11-08 21:30:00+00:00,8,195.13,195.60,194.72,194.84,344566,2521548,0.136649,NaN,NaN,NaN,NaN,2016-11-08
833,2016-11-09 14:30:00+00:00,2016-11-09 15:30:00+00:00,2,187.20,191.98,184.00,187.76,3540055,8054134,0.439533,1221490.9,0.211782,0.227751,2318564.1,2016-11-09
834,2016-11-09 15:30:00+00:00,2016-11-09 16:30:00+00:00,3,187.76,187.76,185.59,187.22,1332788,8054134,0.165479,810181.0,0.147288,0.018191,522607.0,2016-11-09
835,2016-11-09 16:30:00+00:00,2016-11-09 17:30:00+00:00,4,187.23,188.20,185.05,187.17,989216,8054134,0.122821,602142.1,0.115458,0.007363,387073.9,2016-11-09
836,2016-11-09 17:30:00+00:00,2016-11-09 18:30:00+00:00,5,187.03,187.64,186.17,186.58,489418,8054134,0.060766,515642.4,0.099216,-0.038450,-26224.4,2016-11-09
837,2016-11-09 18:30:00+00:00,2016-11-09 19:30:00+00:00,6,186.41,188.20,186.41,187.92,455746,8054134,0.056585,460212.5,0.086370,-0.029784,-4466.5,2016-11-09
838,2016-11-09 19:30:00+00:00,2016-11-09 20:00:00+00:00,7,187.90,189.30,187.88,189.25,556488,8054134,0.069093,534483.3,0.108834,-0.039740,22004.7,2016-11-09
839,2016-11-09 20:30:00+00:00,2016-11-09 21:30:00+00:00,8,189.26,190.31,189.03,190.10,690423,8054134,0.085723,NaN,NaN,NaN,NaN,2016-11-09
840,2016-11-10 14:30:00+00:00,2016-11-10 15:30:00+00:00,2,191.31,191.53,184.50,184.64,1747831,6659680,0.262450,1214608.2,0.224017,0.038432,533222.8,2016-11-10
841,2016-11-10 15:30:00+00:00,2016-11-10 16:30:00+00:00,3,184.38,184.88,180.50,182.50,1661645,6659680,0.249508,771083.0,0.156409,0.093099,890562.0,2016-11-10
842,2016-11-10 16:30:00+00:00,2016-11-10 17:30:00+00:00,4,182.34,183.76,182.22,183.23,803367,6659680,0.120631,549909.7,0.117298,0.003334,253457.3,2016-11-10
843,2016-11-10 17:30:00+00:00,2016-11-10 18:30:00+00:00,5,183.26,187.10,183.18,186.52,1013998,6659680,0.152259,518151.9,0.106816,0.045443,495846.1,2016-11-10
844,2016-11-10 18:30:00+00:00,2016-11-10 19:30:00+00:00,6,186.62,188.56,186.43,187.59,599336,6659680,0.089995,418653.8,0.087543,0.002452,180682.2,2016-11-10
845,2016-11-10 19:30:00+00:00,2016-11-10 20:00:00+00:00,7,187.59,187.59,186.52,186.73,336902,6659680,0.050588,497293.5,0.108427,-0.057838,-160391.5,2016-11-10
846,2016-11-10 20:30:00+00:00,2016-11-10 21:30:00+00:00,8,186.64,186.64,185.03,185.20,496601,6659680,0.074568,NaN,NaN,NaN,NaN,2016-11-10
847,2016-11-11 14:30:00+00:00,2016-11-11 15:30:00+00:00,2,184.18,186.63,183.00,185.04,1074168,3917136,0.274223,1273152.9,0.239700,0.034523,-198984.9,2016-11-11
848,2016-11-11 15:30:00+00:00,2016-11-11 16:30:00+00:00,3,184.95,185.70,183.52,183.70,556029,3917136,0.141948,784690.7,0.160516,-0.018569,-228661.7,2016-11-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4870,2019-03-04 19:30:00+00:00,2019-03-04 20:00:00+00:00,7,284.54,284.54,282.80,284.18,1635716,16870424,0.096958,978164.5,0.095944,0.001013,657551.5,2019-03-04
4871,2019-03-04 20:30:00+00:00,2019-03-04 21:30:00+00:00,8,284.19,286.77,283.92,285.30,1595147,16870424,0.094553,986445.6,0.103974,-0.009421,608701.4,2019-03-04
4872,2019-03-05 14:30:00+00:00,2019-03-05 15:30:00+00:00,2,281.99,283.75,270.10,272.18,6775963,18539814,0.365482,3902146.0,0.328549,0.036932,2873817.0,2019-03-05
4873,2019-03-05 15:30:00+00:00,2019-03-05 16:30:00+00:00,3,272.13,277.09,271.05,275.00,3405893,18539814,0.183707,1853177.5,0.162306,0.021401,1552715.5,2019-03-05
4874,2019-03-05 16:30:00+00:00,2019-03-05 17:30:00+00:00,4,274.87,281.27,274.55,278.11,2830592,18539814,0.152676,1411879.0,0.125255,0.027421,1418713.0,2019-03-05
4875,2019-03-05 17:30:00+00:00,2019-03-05 18:30:00+00:00,5,278.16,282.90,278.14,281.17,1435775,18539814,0.077443,1200892.8,0.112361,-0.034918,234882.2,2019-03-05
4876,2019-03-05 18:30:00+00:00,2019-03-05 19:30:00+00:00,6,281.11,284.00,280.77,282.38,1358556,18539814,0.073278,879792.4,0.078930,-0.005652,478763.6,2019-03-05
4877,2019-03-05 19:30:00+00:00,2019-03-05 20:00:00+00:00,7,282.36,282.36,278.59,278.68,1215211,18539814,0.065546,1059856.5,0.092622,-0.027076,155354.5,2019-03-05
4878,2019-03-05 20:30:00+00:00,2019-03-05 21:30:00+00:00,8,278.60,278.62,276.40,276.64,1517824,18539814,0.081868,1089098.9,0.099977,-0.018109,428725.1,2019-03-05
4879,2019-03-06 14:30:00+00:00,2019-03-06 15:30:00+00:00,2,276.48,281.49,274.39,277.31,3450072,10212604,0.337825,4045092.6,0.333189,0.004636,-595020.6,2019-03-06
4880,2019-03-06 15:30:00+00:00,2019-03-06 16:30:00+00:00,3,277.29,280.00,276.39,276.72,1818466,10212604,0.178061,1914609.1,0.162745,0.015316,-96143.1,2019-03-06
4881,2019-03-06 16:30:00+00:00,2019-03-06 17:30:00+00:00,4,276.87,277.36,275.10,276.47,1041847,10212604,0.102016,1411853.1,0.120427,-0.018411,-370006.1,2019-03-06
4882,2019-03-06 17:30:00+00:00,2019-03-06 18:30:00+00:00,5,276.53,277.40,275.00,275.15,947315,10212604,0.092759,1188644.1,0.106207,-0.013448,-241329.1,2019-03-06
4883,2019-03-06 18:30:00+00:00,2019-03-06 19:30:00+00:00,6,275.11,278.80,275.11,278.06,1152622,10212604,0.112863,938210.1,0.082018,0.030845,214411.9,2019-03-06
4884,2019-03-06 19:30:00+00:00,2019-03-06 20:00:00+00:00,7,278.20,279.38,277.00,277.42,928191,10212604,0.090887,1104268.0,0.094729,-0.003842,-176077.0,2019-03-06
4885,2019-03-06 20:30:00+00:00,2019-03-06 21:30:00+00:00,8,277.36,277.73,276.09,276.10,874091,10212604,0.085589,1122070.3,0.100685,-0.015096,-247979.3,2019-03-06
4886,2019-03-07 14:30:00+00:00,2019-03-07 15:30:00+00:00,2,278.85,283.78,276.66,283.51,3151882,9055992,0.348044,4219297.5,0.351761,-0.003717,-1067415.5,2019-03-07
4887,2019-03-07 15:30:00+00:00,2019-03-07 16:30:00+00:00,3,283.45,284.64,281.21,282.60,1348321,9055992,0.148887,1977696.0,0.169373,-0.020485,-629375.0,2019-03-07
4888,2019-03-07 16:30:00+00:00,2019-03-07 17:30:00+00:00,4,282.90,283.49,281.96,282.23,637544,9055992,0.070400,1418418.9,0.120882,-0.050482,-780874.9,2019-03-07
4889,2019-03-07 17:30:00+00:00,2019-03-07 18:30:00+00:00,5,282.30,282.36,279.12,279.68,636601,9055992,0.070296,1026282.9,0.087212,-0.016916,-389681.9,2019-03-07
4890,2019-03-07 18:30:00+00:00,2019-03-07 19:30:00+00:00,6,279.58,279.98,276.00,277.50,1267696,9055992,0.139984,930488.7,0.080531,0.059453,337207.3,2019-03-07
4891,2019-03-07 19:30:00+00:00,2019-03-07 20:00:00+00:00,7,277.59,277.87,274.25,275.27,1253915,9055992,0.138462,1117254.1,0.095632,0.042830,136660.9,2019-03-07
4892,2019-03-07 20:30:00+00:00,2019-03-07 21:30:00+00:00,8,275.25,276.76,274.91,276.57,760033,9055992,0.083926,1072414.3,0.094609,-0.010683,-312381.3,2019-03-07
4893,2019-03-08 14:30:00+00:00,2019-03-08 15:30:00+00:00,2,277.48,280.00,275.97,277.73,1974039,8666072,0.227789,4212365.2,0.337873,-0.110084,-2238326.2,2019-03-08
4894,2019-03-08 15:30:00+00:00,2019-03-08 16:30:00+00:00,3,277.78,280.75,277.44,280.31,980785,8666072,0.113175,1985123.6,0.164424,-0.051248,-1004338.6,2019-03-08
4895,2019-03-08 16:30:00+00:00,2019-03-08 17:30:00+00:00,4,280.38,282.25,279.39,279.86,957725,8666072,0.110514,1456565.8,0.121593,-0.011079,-498840.8,2019-03-08
4896,2019-03-08 17:30:00+00:00,2019-03-08 18:30:00+00:00,5,279.82,280.71,278.19,279.85,726414,8666072,0.083823,1044931.1,0.085906,-0.002083,-318517.1,2019-03-08
4897,2019-03-08 18:30:00+00:00,2019-03-08 19:30:00+00:00,6,279.92,282.63,279.45,281.20,965951,8666072,0.111464,984578.7,0.084050,0.027414,-18627.7,2019-03-08
4898,2019-03-08 19:30:00+00:00,2019-03-08 20:00:00+00:00,7,281.22,285.58,280.83,282.28,2023750,8666072,0.233526,1268224.5,0.109761,0.123765,755525.5,2019-03-08
4899,2019-03-08 20:30:00+00:00,2019-03-08 21:30:00+00:00,8,282.24,284.42,282.10,284.11,1037408,8666072,0.119709,1119386.0,0.096393,0.023316,-81978.0,2019-03-08

In [66]:
tsla[tsla['Date'].isin(daylight_dates)].count()/7

Start_Datetime         249.714286
End_Datetime           249.714286
Trading_Hour           249.714286
Open                   249.714286
High                   249.714286
Low                    249.714286
Close                  249.714286
Volume                 249.714286
Total_Daily_Volume     249.714286
Percentage_Volume      249.714286
Rolling_volume         248.428571
Rolling_perc_volume    248.428571
Res_Perc_vol           248.428571
Res_vol                248.428571
Date                   249.714286
dtype: float64

In [104]:
new_trading_hours = tsla[tsla['Date'].isin(daylight_dates)]['Trading_Hour'] - 1
new_trading_hours

KeyError: 'Date'

In [105]:
tsla.loc[tsla['Date'].isin(daylight_dates), 'Trading_Hour'] = new_trading_hours

KeyError: 'Date'

In [75]:
tsla[['Start_Datetime', 'End_Datetime', 'Trading_Hour']].groupby('Trading_Hour').agg(['count'])

             Start_Datetime End_Datetime
                      count        count
Trading_Hour
1                       726          726
2                       730          730
3                       729          729
4                       727          727
5                       727          727
6                       726          726
7                       724          724

In [76]:
tsla.head()

,Start_Datetime,End_Datetime,Trading_Hour,Open,High,Low,Close,Volume,Total_Daily_Volume,Percentage_Volume,Rolling_volume,Rolling_perc_volume,Res_Perc_vol,Res_vol,Date
0,2016-05-23 13:30:00+00:00,2016-05-23 14:30:00+00:00,1,220.06,222.30,217.16,222.14,1770979,4837998,0.366056,NaN,NaN,NaN,NaN,2016-05-23
1,2016-05-23 14:30:00+00:00,2016-05-23 15:30:00+00:00,2,221.92,222.60,219.26,219.49,678668,4837998,0.140279,NaN,NaN,NaN,NaN,2016-05-23
2,2016-05-23 15:30:00+00:00,2016-05-23 16:30:00+00:00,3,219.51,219.53,217.66,218.47,601477,4837998,0.124324,NaN,NaN,NaN,NaN,2016-05-23
3,2016-05-23 16:30:00+00:00,2016-05-23 17:30:00+00:00,4,218.57,219.04,217.41,217.49,439506,4837998,0.090845,NaN,NaN,NaN,NaN,2016-05-23
4,2016-05-23 17:30:00+00:00,2016-05-23 18:30:00+00:00,5,217.44,217.60,216.19,217.49,514489,4837998,0.106343,NaN,NaN,NaN,NaN,2016-05-23

In [78]:
tsla.columns

Index(['Start_Datetime', 'End_Datetime', 'Trading_Hour', 'Open', 'High', 'Low',
       'Close', 'Volume', 'Total_Daily_Volume', 'Percentage_Volume',
       'Rolling_volume', 'Rolling_perc_volume', 'Res_Perc_vol', 'Res_vol',
       'Date'],
      dtype='object')

In [84]:
tsla = tsla.drop(columns=['Date'])

In [85]:
tsla.columns

Index(['Start_Datetime', 'End_Datetime', 'Trading_Hour', 'Open', 'High', 'Low',
       'Close', 'Volume', 'Total_Daily_Volume', 'Percentage_Volume',
       'Rolling_volume', 'Rolling_perc_volume', 'Res_Perc_vol', 'Res_vol'],
      dtype='object')

In [86]:
output_file = '../../data/features/2019_05_07_TSLA_y_03_yishuang.pickle'

pickle.dump(tsla, open(output_file, "wb"))

## Sanity Check

In [87]:
inp = '../../data/features/2019_05_07_TSLA_y_03_yishuang.pickle'

check = pickle.load(open(inp, "rb"))

check.head()

,Start_Datetime,End_Datetime,Trading_Hour,Open,High,Low,Close,Volume,Total_Daily_Volume,Percentage_Volume,Rolling_volume,Rolling_perc_volume,Res_Perc_vol,Res_vol
0,2016-05-23 13:30:00+00:00,2016-05-23 14:30:00+00:00,1,220.06,222.30,217.16,222.14,1770979,4837998,0.366056,NaN,NaN,NaN,NaN
1,2016-05-23 14:30:00+00:00,2016-05-23 15:30:00+00:00,2,221.92,222.60,219.26,219.49,678668,4837998,0.140279,NaN,NaN,NaN,NaN
2,2016-05-23 15:30:00+00:00,2016-05-23 16:30:00+00:00,3,219.51,219.53,217.66,218.47,601477,4837998,0.124324,NaN,NaN,NaN,NaN
3,2016-05-23 16:30:00+00:00,2016-05-23 17:30:00+00:00,4,218.57,219.04,217.41,217.49,439506,4837998,0.090845,NaN,NaN,NaN,NaN
4,2016-05-23 17:30:00+00:00,2016-05-23 18:30:00+00:00,5,217.44,217.60,216.19,217.49,514489,4837998,0.106343,NaN,NaN,NaN,NaN

In [88]:
check[['Start_Datetime', 'End_Datetime', 'Trading_Hour']].groupby('Trading_Hour').agg(['count'])

             Start_Datetime End_Datetime
                      count        count
Trading_Hour
1                       726          726
2                       730          730
3                       729          729
4                       727          727
5                       727          727
6                       726          726
7                       724          724